@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Application.ViewModels.ExaminationCreateViewModel

@{
    ViewData["Title"] = @Localizer["Create Examination"];
    var returnUrl = ViewBag.ReturnUrl;
}

<h1>@Localizer["Create Examination"]</h1>
<hr />
<form enctype="multipart/form-data" asp-controller="@typeof(ExaminationsController).GetNameOfController()"
      asp-action="@nameof(ExaminationsController.Create)" asp-route-returnUrl="@returnUrl" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="ExamDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ExamDate" class="form-control" />
        </div>
        <span asp-validation-for="ExamDate" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ExamCenterID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="ExamCenterID" class="form-control" asp-items="Model.ExamCenterItems">
                <option value="" selected disabled hidden>@Localizer["Choose Exam Center"]</option>
            </select>
            <span asp-validation-for="TrainingCenterID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="TrainingCenterID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="TrainingCenterID" class="form-control" asp-items="Model.TrainingCenterItems">
                <option value="" selected disabled hidden>@Localizer["Choose Training Center"]</option>
            </select>
            <span asp-validation-for="TrainingCenterID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto">@Localizer["Save"]</button>
            <a href="@returnUrl" class="btn btn-primary" style="width:auto">@Localizer["Cancel"]</a>
        </div>
    </div>
</form>
