@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Application.ViewModels.CertificateCreateViewModel

@{
    ViewData["Title"] = "Create Certificate";
    var returnUrl = ViewBag.ReturnUrl;
}

<h1>@Localizer["Create Certificate"]</h1>
<hr />
<form asp-controller="@typeof(CertificatesController).GetNameOfController()" asp-action="@nameof(CertificatesController.Create)"
      asp-route-returnUrl="@returnUrl" method="post" class="mt-3">
    <input hidden asp-for="ExaminationEncryptedID" />
    <div class="form-group row">
        <label asp-for="ExamDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ExamDate" class="form-control" readonly>
            <span asp-validation-for="ExamDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ExpiryDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ExpiryDate" class="form-control" readonly>
            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ExamCenterName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ExamCenterName" class="form-control" readonly>
            <span asp-validation-for="ExamCenterName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="TrainingCenterName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="TrainingCenterName" class="form-control" readonly>
            <span asp-validation-for="TrainingCenterName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="CompanyID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="CompanyID" class="form-control" asp-items="Model.CompanyNameItems">
                <option value="" selected disabled hidden>@Localizer["Choose Company"]</option>
            </select>
            <span asp-validation-for="CompanyID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PEPassportID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="PEPassportID" class="form-control" asp-items="Model.PEPassportAVNumberItems">
                <option value="" selected disabled hidden>@Localizer["Choose PE Passport"]</option>
            </select>
            <span asp-validation-for="PEPassportID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ProcessID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="ProcessID" class="form-control" asp-items="Model.ProcessNameItems">
                <option value="" selected disabled hidden>@Localizer["Choose Process"]</option>
            </select>
            <span asp-validation-for="ProcessID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="RegistrationTypeID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="RegistrationTypeID" class="form-control" asp-items="Model.RegistrationTypeNameItems">
                <option value="" selected disabled hidden>@Localizer["Choose Registration Type"]</option>
            </select>
            <span asp-validation-for="RegistrationTypeID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto">@Localizer["Save"]</button>
            <a href="@returnUrl" class="btn btn-primary" style="width:auto">@Localizer["Cancel"]</a>
        </div>
    </div>
</form>
