@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PEWelderDetailsViewModel

@{
    ViewData["Title"] = Localizer["Welder Details"];
    var returnUrl = ViewBag.ReturnUrl;
    var currentUrl = ViewBag.CurrentUrl;
}

<h1>@Localizer["Welder Details"]</h1>
<hr />
<br />
<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.NationalNumber)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.NationalNumber)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.IdNumber)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.IdNumber)
    </dd>
</dl>
<div>
    <a asp-controller="@typeof(WeldersController).GetNameOfController()" asp-action="@nameof(WeldersController.Edit)"
       asp-route-id="@Model.EncryptedID" asp-route-returnUrl="@currentUrl" class="btn btn-primary" style="width:auto">@Localizer["Edit"]</a>
    <a class="btn btn-primary" style="width:auto" href="@returnUrl">
        @Localizer["Back"]
    </a>
</div>
<br />
<h2>@Localizer["PE Passports"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PEPassports.FirstOrDefault().AVNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PEPassports.FirstOrDefault().CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PEPassports.FirstOrDefault().ExpiryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var passport in Model.PEPassports)
        {
            <tr class="@passport.Color">
                <td>
                    @Html.DisplayFor(modelItem => passport.Letter)
                    @Html.DisplayFor(modelItem => passport.AVNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => passport.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => passport.ExpiryDate)
                </td>
                <td>
                    <a asp-controller="@typeof(PEPassportsController).GetNameOfController()" asp-action="@nameof(PEPassportsController.Details)"
                       asp-route-id="@passport.EncryptedID" asp-route-returnUrl="@currentUrl">@Localizer["Details"]</a> |
                    <a asp-controller="@typeof(PEPassportsController).GetNameOfController()" asp-action="@nameof(PEPassportsController.Delete)"
                       asp-route-id="@passport.EncryptedID" asp-route-returnUrl="@currentUrl">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>