@model CompanyContactEditViewModel

@{
    ViewData["Title"] = @Localizer["Edit Contact"];
    string returnUrl = ViewBag.ReturnUrl;
    string currentUrl = ViewBag.CurrentUrl;
}

<h1>@Localizer["Edit Contact"]</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-controller="@typeof(CompanyContactsController).GetNameOfController()" asp-action="@nameof(WeldersController.Edit)" asp-route-returnUrl="@returnUrl" method="post">
            <input asp-for="EncryptedID" hidden />
            <div class="form-group row">
                <label asp-for="ContactID" class="col-sm-2 col-form-label"></label>
                <div class="input-group col-sm-10">
                    <select asp-for="ContactID" class="form-control" asp-items="@Model.ContactSelectList">
                        <option value="" selected disabled hidden>@Localizer["Choose a Contact"]</option>
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            @Localizer["Action"]
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" type="button" asp-controller="@typeof(ContactsController).GetNameOfController()" asp-action="@nameof(ContactsController.Create)" asp-route-returnUrl="@currentUrl">@Localizer["Create"]</a>
                            <a class="dropdown-item" type="button" asp-controller="@typeof(ContactsController).GetNameOfController()" asp-action="@nameof(ContactsController.Edit)" asp-route-returnUrl="@currentUrl" asp-route-id="@Model.ContactID">@Localizer["Edit"]</a>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="ContactID" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="CompanyID" class="col-sm-2 col-form-label"></label>
                <div class="input-group col-sm-10">
                    <select asp-for="CompanyID" class="form-control" asp-items="@Model.CompanySelectList">
                        <option value="" selected disabled hidden>@Localizer["Choose a Company"]</option>
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            @Localizer["Action"]
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" type="button" asp-controller="@typeof(CompaniesController).GetNameOfController()" asp-action="@nameof(CompaniesController.Create)" asp-route-returnUrl="@currentUrl">@Localizer["Create"]</a>
                            <a class="dropdown-item" type="button" asp-controller="@typeof(CompaniesController).GetNameOfController()" asp-action="@nameof(CompaniesController.Edit)" asp-route-returnUrl="@currentUrl" asp-route-id="@Model.CompanyID">@Localizer["Edit"]</a>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="JobTitle" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="JobTitle" class="form-control" placeholder=@Localizer["Job Title"] />
                </div>
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="BusinessPhone" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="BusinessPhone" class="form-control" placeholder=@Localizer["Business Phone"] />
                </div>
                <span asp-validation-for="BusinessPhone" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="MobilePhone" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="MobilePhone" class="form-control" placeholder=@Localizer["Mobile Phone"] />
                </div>
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control" placeholder=@Localizer["Email"] />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <h4>@Localizer["Business Address"]</h4>
            <div class="form-group row">
                <label asp-for="AddressID" class="col-sm-2 col-form-label"></label>
                <div class="input-group col-sm-10">
                    <select asp-for="AddressID" class="form-control" asp-items="@Model.AddressSelectList">
                        <option value="" selected disabled hidden>@Localizer["Choose an Address"]</option>
                    </select>
                    <div class="input-group-append">
                        <a class="btn btn-primary" type="button" asp-controller="@typeof(AddressesController).GetNameOfController()" asp-action="@nameof(AddressesController.Create)" asp-route-returnUrl="@currentUrl">Create</a>
                    </div>
                </div>
                <span asp-validation-for="AddressID" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" style="width:auto">@Localizer["Save"]</button>
                    <a href="@returnUrl" class="btn btn-primary" style="width:auto">@Localizer["Cancel"]</a>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
