@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model AppSettingsViewModel
@{
    ViewData["Title"] = Localizer["App Settings"];
}
<h1>@Localizer["Edit App Settings"]</h1>
<form enctype="multipart/form-data" asp-controller="@typeof(AdminController).GetNameOfController()"
      asp-action="@nameof(AdminController.AppSettingsEdit)" method="post" class="mt-3">
    <input hidden asp-for="ID" />
    <div class="form-group row">
        <label asp-for="MaxExpiryDays" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="MaxExpiryDays" class="form-control" placeholder="Days">
            <span asp-validation-for="MaxExpiryDays" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="MaxExtensionDays" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="MaxExtensionDays" class="form-control" placeholder="Days">
            <span asp-validation-for="MaxExtensionDays" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="MaxInAdvanceDays" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="MaxInAdvanceDays" class="form-control" placeholder="Days">
            <span asp-validation-for="MaxInAdvanceDays" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto">@Localizer["Save"]</button>
            <a asp-controller="@typeof(AdminController).GetNameOfController()" asp-action="@nameof(AdminController.AppSettingsDetails)"
               class="btn btn-primary" style="width:auto">@Localizer["Cancel"]</a>
        </div>
    </div>
</form>
